<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand text-white" routerLink="/">ClinicPix</a>
		<div class="ms-auto">
			<a routerLink="/auth/login" class="btn btn-login">Login</a>
		</div>
	</div>
</nav>

<!-- Hero Section -->
<div class="hero-section">
	<h1>Welcome to ClinicPix</h1>
	<p>Your gateway to secure and efficient medical image sharing.</p>
	<!-- <a href="#features" class="btn btn-light btn-lg">Explore Features</a> -->
</div>

<!-- Features Section -->
<div id="features" class="features-section">
	<div class="container">
		<h2>Our Features</h2>
		<div class="row text-center">
			<div class="col-md-4 feature">
				<img
					src="https://cdn4.iconfinder.com/data/icons/marketing-and-seo-3-1/500/Layer24-512.png"
					alt="Secure Sharing" />
				<h5>Secure Sharing</h5>
				<p>Share medical images safely with advanced encryption.</p>
			</div>
			<div class="col-md-4 feature">
				<img
					src="https://png.pngtree.com/png-vector/20220827/ourmid/pngtree-files-icon-access-element-vector-png-image_33513066.png"
					alt="Easy Access" />
				<h5>Easy Access</h5>
				<p>Access your medical images anytime, anywhere.</p>
			</div>
			<div class="col-md-4 feature">
				<img
					src="https://www.svgrepo.com/show/208378/teamwork.svg"
					alt="Role Management" />
				<h5>Role Management</h5>
				<p>Streamlined access control for patients, providers, and admins.</p>
			</div>
		</div>
	</div>
</div>

<!-- Call to Action Section -->
<div class="cta-section">
	<h3>Get Started Today</h3>
	<p>Experience a secure and efficient way to manage medical images.</p>
	<a routerLink="/auth/signup" class="btn btn-light btn-lg">Sign Up Now</a>
</div>

<!-- Footer -->
<footer class="footer">
	<p>&copy; 2025 SecureMedShare. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
