<body>
	<!-- Sidebar -->
	<div class="sidebar">
		<h2>Patient Dashboard</h2>
		<a routerLink="/patient/dashboard">Home</a>
		<a routerLink="/patient/my-records">My Records</a>
		<!-- <a routerLink="/patient/shared-images">Shared Images</a> -->
		<a routerLink="/patient/profile">Profile</a>
		<a href="#" (click)="logout()">Logout</a>
	</div>

	<!-- Main Content -->
	<div class="main-content">
		<!-- Header -->
		<div class="header">
			<h3>Welcome, {{ currentUserName }}</h3>
			<p>Manage your medical images securely and efficiently.</p>
		</div>

		<!-- Home Section -->
		<div id="home" class="card">
			<div class="card-body">
				<h5>Dashboard Overview</h5>
				<p>Welcome to your patient dashboard. Here you can:</p>
				<ul>
					<li>Access images shared with you by healthcare providers.</li>
					<li>Update your personal profile and contact information.</li>
				</ul>
				<p>
					Stay updated with any new activities or notifications from your
					healthcare providers.
				</p>
			</div>
		</div>
	</div>
</body>
